@model Announcement
@foreach (var announcement in @Model.AnnouncementImages)
{
    <div class="col-md-4">
        <a asp-controller="Announcement" asp-action="AnnouncementDetails" asp-route-id="@announcement.AnnouncementId">
        <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="250" src="@String.Concat("https://announcementstorage.blob.core.windows.net/announcement/",
                                                                                            announcement.Image.Name)" />
            <div class="card-body">
                <p class="card-title">@Model.Title</p>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text">@Model.Description</p>
                    <div class="btn-group">
                    </div>
                    <small class="text-muted">@Model.DateAdded</small>
                </div>
            </div>
        </div>
    </a>
</div>
}